<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Welcome to Snap Me Now</h4>
</div>
<div class="modal-body">
    <p>
        First time user content goes here...
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal">Learn more</button>
</div>