@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>
    The concept behind Snap Me Now was created to fill the gap between retailer price point (RRP) and consumer's idea as to what the "right price" really is.<br />
    Lets face it, there are lots of things we would buy for the "right price", but what is the "right price"?
</p>
<p>
    The "right price" is simply the balance between the price the retailer is willing to sell a product for and what you and other consumers are willing to pay for it without thinking twice.
    By bringing the consumers and retailers closer, Snap Me Now allows the demand to take the price down as much as possible and still keep the retailer happy. So everybody wins!!!
    The more consumers Snap a product they like, the higher the demand. The higher the demand, the lower the price.
</p>
<p>
    We are trying to create a social shopping experience, where consumers benefit from Sharing product during a sale, making more people to come and Snap products they like and make the price go down even more!
    You can Share an item you like with your friends in only one click!
</p>
