@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2>FAQ</h2>
        <hr />
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            1. Do I have to buy the product I snapped?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        By Snapping a product, you basically reserve one unit for the price shown on the sale page at the time. 
                        Since by Snapping it you also cause the price to drop, we hope that you are willing to pay this price for it.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            2. What can I do if I changed my mind?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        We all change our minds from time to time. And while we would like you to be sure when you Snap a product, 
                        we will offer you and option to back off your Snap once the Sale is over during the Checkout stage. 
                        This option will only be availably for you three times during the lifetime of your account.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            3. Can I Snap more than one unit?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Yes, you can.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            4. Will I pay the price I Snapped the product at?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        You will pay the price of the last Snap or simply put, the price at the end of the Sale (24 hours has passed or the product quantity for this sale is sold).
                        If you are the last person to Snap a product, then yes, you will pay the price you Snapped the product at. In any other case the price you pay will be lower.
                        Please keep in mind that the Snap price doesn't include postage and handling.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            5. Why would I be the first to Snap a product?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        Two main reasons: 1. By Snapping a product you reduce the price and make it more attractive for subsequent Snappers and 2. The first one to Snap will get an additional 5% discount at the Checkout.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            6. Is there a way to know or estimate the closing price?
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        No. The closing price depends on the quantity offered during the Sale and the amount of users to Snap the product during a Sale. 
                        The only thing you should keep in mind is, once you Snap, the price goes down making it more and more attractive for other users.
                        To make the price go down, Snap and Share!
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                            7. Can I return the product?
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        If the product you received is not as was described at the Sale page or is faulty or damaged, then please do contact us and get a full refund.
                    </div>
                </div>
            </div>
        </div>
        <p>
            If you have any more questions, please contact our <a href="mailto:support@snapmenow.com.au">support</a>.
        </p>
    </div>
</div>

