@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section fullwidth_top
{
    <div class="toolbar">
        <div class="container">
            <i class="ti-layout-grid2"></i> <a href="@Url.Action("Index", "Sales")">Active Sales List</a>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <h2>So, How It Works?</h2>
        <hr />
        <p>
            Well, it's actually pretty simple:
            <ol>
                <li>Choose the product that you want on the <a href="@Url.Action("Index", "Sales")">Active Sales</a> page.</li>
                <li>Snap it at the current price to reserve it and make the price go lower making it even more attractive for others.</li>
                <li>Wait until the Sale is over (no longer than 24 hours) and see the final price that you will pay.</li>
                <li>Get a notification email once the Sale is over and follow the instructions on the Checkout page.</li>
            </ol>
        </p>
        <p>
            Found something you like, Share it with your friends and Snap it together making the price as lower as possible.
        </p>
        <div class="video text-center">
            <iframe width="640" height="360" src="//www.youtube.com/embed/0vrdgDdPApQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

