@{
    ViewBag.Title = "Daily Sales, Low Prices & Huge Savings";
    ViewBag.Description = "Snap Me Now allows customers to lower the price by Snapping a product. More Snaps - Lower the price goes. Discover new and exciting products every day.";
}


<div class="row main-banner">
    <div>
        <h1 class="text-center">We are changing the game and we invite you to play</h1>
        <h3 class="text-center">The Higher the demand, the Lower the price goes! Snap yours today!</h3>
        <br />
        <div class="text-center" style="margin-top: 40px;">
            <a class="btn btn-lg btn-success" href="@Url.Action("Register", "Account")">Start Snapping Now <i class="fa fa-angle-right"></i></a>
            <h4>
                <a class="inner-scroll" href="#learnmore">Learn more</a>
            </h4>
        </div>
    </div>
</div>
<div id="learnmore" class="text-center section">
    <h2>What is SnapMe?</h2>
    <p>
        SnapMe is a social shopping site which allows members to drop the price of a product they want by sharing it with their friends and raising the demand.
    </p>
    <hr />
</div>
<div id="howitworks" class="text-center section">
    <h2>How it works?</h2>
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3"><i class="fa fa-3x fa-laptop"></i><p>Browse our sales page and find a product you like</p></div>
        <div class="col-md-3"><i class="fa fa-3x fa-shopping-cart"></i><p>Snap the item you like to drop the price</p></div>
        <div class="col-md-3"><i class="fa fa-3x fa-share-alt"></i><p>Share with your friends to drop the price even more</p></div>
        <div class="col-md-3"><i class="fa fa-3x fa-glass"></i><p>Wait until the end of the auction and follow the checkout instructions</p></div>
    </div>
    <div class="clearfix"></div>
    <hr />
</div>
<div class="text-center">
    <a class="btn btn-lg btn-success" href="@Url.Action("Register", "Account")">Register Now <i class="fa fa-angle-right"></i></a>
</div>

@section scripts
{
    <script type="text/javascript">
        $('.inner-scroll').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });

        if (typeof ($.cookie("smn.ft")) === "undefined") {
            $("#ft-modal").modal();
            $.cookie("smn.ft", (new Date()).getTime(), { expires: 365 });
        }
    </script>
}
