@{
    ViewBag.Title = "Daily Sales, Low Prices & Huge Savings";
    ViewBag.Description = "Snap Me Now allows customers to lower the price by Snapping a product. More Snaps - Lower the price goes. Discover new and exciting products every day.";
}

<div style="position: fixed; width: 100%; height: 100%; background:url(https://issuestand.com/static/core/img/background_photo.jpg) no-repeat center; z-index: -1; top: 0; right: 0; left: 0;"></div>
<div class="row main-banner">
    <div>
        <h1 class="text-center">We are changing the game and we invite you to play</h1>
        <h3 class="text-center">The Higher the demand, the Lower the price goes! Snap yours today!</h3>
        <br />
        <div class="text-center" style="margin-top: 40px;">
            <a class="btn btn-lg btn-success" href="#" onclick="document.getElementById('preregisterForm').submit();">Preregister Now with Facebook <i class="fa fa-angle-right"></i></a>
            <h4>
                <a class="inner-scroll" href="#learnmore">Learn more</a>
            </h4>
        </div>
        <div class="text-center">
            <div class="clock"></div>
        </div>
    </div>
</div>
<div id="learnmore" class="text-center section row">
    <h2>What is SnapMe?</h2>
    <p>
        SnapMe is a social shopping site which allows members to drop the price of a product they want by sharing it with their friends and raising the demand.
    </p>
</div>
<div id="howitworks" class="text-center section row">
    <h2>How it works?</h2>
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3"><i class="fa fa-3x fa-laptop"></i><p>Browse our sales page and find a product you like</p></div>
        <div class="col-md-3"><i class="fa fa-3x fa-shopping-cart"></i><p>Snap the item you like to drop the price</p></div>
        <div class="col-md-3"><i class="fa fa-3x fa-share-alt"></i><p>Share with your friends to drop the price even more</p></div>
        <div class="col-md-3"><i class="fa fa-3x fa-glass"></i><p>Wait until the end of the auction and follow the checkout instructions</p></div>
    </div>
    <div class="clearfix"></div>
</div>
<div id="benefits" class="text-center section row">
    <h2>Why Register?</h2>
    <ul>
        <li>It's FREE, so you have nothing to lose</li>
        <li>Pay less for things you want</li>
        <li>Early snappers get additional 5% discount on checkout</li>
        <li>Coming soon - Missed a sale? We will notify you the next time this product is on sale.</li>
    </ul>
</div>
<div class="section text-center row">
    <a class="btn btn-lg btn-success" href="#" onclick="document.getElementById('preregisterForm').submit();">Preregister Now  with Facebook <i class="fa fa-angle-right"></i></a>
</div>

<form action="/Account/ExternalLogin?ReturnUrl=%2FHome%2FIndex" method="post" id="preregisterForm">
    @Html.AntiForgeryToken()
    <input type="hidden" value="Facebook" name="provider" />
</form>

@section scripts
{
    <script src="~/Scripts/flipclock.min.js"></script>
    <script type="text/javascript">
        $('.inner-scroll').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });

        if (typeof ($.cookie("smn.ft")) === "undefined") {
            $("#ft-modal").modal();
            $.cookie("smn.ft", (new Date()).getTime(), { expires: 365 });
        }

        var clock = $('.clock').FlipClock(@(new DateTime(2014,12,1).Subtract(DateTime.Now).TotalSeconds), {
            clockFace: 'DailyCounter',
            countdown: true
        });
    </script>
}
