@{
    ViewBag.Title = "Daily Sales, Low Prices & Huge Savings";
    ViewBag.Description = "Snap Me Now allows customers to lower the price by Snapping a product. More Snaps - Lower the price goes. Discover new and exciting products every day.";
}

@section fullwidth_top
{
    <div class="top-banner embed-responsive">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="embed-responsive-item">
                        <div style=" padding: 50px 0 0 50px">
                            <h2>24 Hour Sales!</h2>
                            <h2>Huge Savings! Snap Yours Now!</h2>
                            <p style="margin-top: 20px;">
                                <a class="btn btn-lg btn-success" id="registerLink" href="/Account/Register">Get Started Now <i class="ti-angle-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row landing-page">
    <div class="col-md-4">
        <h2>Browse</h2>
        <p class="text-center">Browse our <a href="@Url.Action("Index", "Sales")">active sales</a> page and enter a sale of a product you like.</p>
    </div>
    <div class="col-md-4">
        <h2>Snap and Share</h2>
        <p class="text-center">Hit Snap Now to reserve a product and lower the price, then Share it with your friends.</p>
    </div>
    <div class="col-md-4">
        <h2>Checkout</h2>
        <p class="text-center">Sit back and relax! Once a sale is over, you will be notified to complete the checkout.</p>
    </div>
</div>
<p></p>
<div class="row how-it-works">
    <div class="col-xs-12 text-center">
        <div>
            <h3><span>How Does It Work?</span></h3>
            <hr />
        </div>
        <div class="video">
            <iframe width="640" height="360" src="//www.youtube.com/embed/0vrdgDdPApQ" frameborder="0" allowfullscreen></iframe>
            <h3 class="text-center">
                <a href="@Url.Action("FAQ", "Home")">Still have questions?</a>
            </h3>
        </div>
    </div>
</div>
<div class="row get-started">
    <div class="col-xs-12 text-center">
        <a class="btn btn-lg btn-success" id="registerLink" href="@Url.Action("Register", "Account", routeValues: null)">Get Started Now <i class="ti-angle-right"></i></a>
    </div>
</div>
<div class="clearfix"></div>

<div class="modal fade" id="ft-modal" data-remote="@Url.Action("FirstTime", "Home")" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        if (typeof ($.cookie("smn.ft")) === "undefined") {
            $("#ft-modal").modal();
            $.cookie("smn.ft", (new Date()).getTime(), { expires: 365 });
        }
    </script>
}
