<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="height: 40px;">
        <img src="http://snapme.apphb.com/Content/Images/email_header.png">
    </div>
    <div style="margin-top: 20px;">
        @RenderBody()
    </div>
</body>
</html>
