@model IDictionary<string, object>
@{
    ViewBag.Title = "Welcome to Snap Me Now";
    Layout = "~/Views/Email/_EmailLayout.cshtml";
}

<p>
    Hi, @Model["Username"]!
</p>
<p>
    Thanks for registering at Snap Me Now.
    We are looking forward to seeing you on our site.
    We hope we can bring many quality products at the right prices for you to Snap!!
</p>
<p>
    <a>Click here</a> to go to Snap Me Now and start Snapping incredible products!
</p>
<p>
    Thanks again,<br />
    Snap Me Now Team
</p>

