@model IDictionary<string, object>
@{
    ViewBag.Title = "Welcome to Snap Me Now";
    Layout = "~/Views/Email/_EmailLayout.cshtml";
}

<p>
    Hi, @Model["Username"]!
</p>
<p>
    Thanks for registering at Snap Me Now.
    We hope we can bring many quality products at the right prices for you to Snap!!
</p>
<p>
    Thanks again,<br />
    Snap Me Now Team
</p>

