@model IDictionary<string, object>
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Email/_EmailLayout.cshtml";
}

<p>
    Hi there,
</p>
<p>
    Have you requested a password reset?
</p>
<p>
    Follow the instructions <a href="@Model["ResetPasswordUrl"]">here</a> to reset your password and continue snapping quality products!
</p>
<p>
    Thanks again,<br />
    Snap Me Now Team
</p>



