@model IDictionary<string, object>

@{
    ViewBag.Title = "You have just Snapped " + Model["Title"];
    Layout = "~/Views/Email/_EmailLayout.cshtml";
}

<p>
    You have just Snapped <a href="http://snapme.apphb.com/Sales/@Model["ID"]">@Model["Title"] at @string.Format("{0:c}", Model["Price"])</a>.<br/>
    Once the sale is over, we will send you another email with the final price and payment instructions.
</p>
<p>
    Thanks,<br />
    Snap Me Now Team
</p>


