@model SMN.Web.Models.ApplicationUser
@{
    ViewBag.Title = "Confirmation Emali Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation Email Sent</h2>
<p>
    We have just sent you a confirmation email to @Model.Email.<br />
    Please check your inbox and follow the instructions.
</p>
<p>
    We hope to see you soon!<br />
    Snap Me Now Team
</p>

